<nav class="navbar navbar-expand-lg mb-3 p-3 text-white bg-success">
  <div class="container-fluid justify-content-around">
    <h1>College Courses</h1>
    <ul class="navbar-nav">
      <li class="nav-item me-1">
        <a href="/" class="btn btn-primary">Home</a>
      </li>
      <li class="nav-item me-1">
        <a href="/addcourse" class="btn btn-primary">Add Course</a>
      </li>
      <li class="nav-item me-1">
        <a href="/errortest" class="btn btn-primary">Error Test</a>
      </li>
    </ul>
  </div>
</nav>
