<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body>
    <%- include("partials/nav.ejs") %>

    <div class="w-50 p-3 mx-auto bg-white">
      <h2>Course Index</h2>
    </div>
  </body>
</html>
