<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>
  <body>
    <%- include("partials/nav.ejs") %>

    <div class="w-50 p-3 mx-auto bg-white">
      <h2>Sign up for College Courses</h2>
      <p>Welcome to your future! Please view our courses that we offer!</p>
    </div>
  </body>
</html>
